@font-face {
  font-family: 'Playlist Script';
  src: url("./PlaylistFF/Playlist Script.otf");
}

header.masthead {
    background-image: url("../img/pineapple-supply-co-142106.jpg");
}

section#contact {
    background-color: transparent;
    background-image: url(../img/pineapple-supply-co-142108.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

section#portfolio {
    background-image: url("../img/pineapple-supply-co-124390.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.contact-invite {
    color: #ffffff !important;
}

.portfolio-link {
    background-color: #464C49;
}

.inline-link {
  color: #464C49;
}

.portfolio-img {
    padding-left: 8%;
}

.favicon-credit {
  font-size: 90%;
  color: #fed136;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
}

.navbar-default .navbar-nav>li>a.email-me {
  color: #fed136;
}

.navbar-custom .navbar-brand {
  font-family: 'Playlist Script', Helvetica, Arial, cursive;
  font-size: 2em;
}

.navbar-custom.affix .navbar-brand {
  font-size: 2em;
}

section h2.section-heading {
  font-family: 'Playlist Script', Helvetica, Arial, cursive;
  font-size: 5em;
  text-transform: none;
  margin-bottom: 36px;
}

a.page-scroll{
  font-size: 0.8em;
}
